h1 You were invitated to participate on the project:

h2 = @project.name

p You have to Sign Up, to be able to access it. Please click on the link bellow to finish it:

p = link_to 'Cadastrar-se', new_user_registration_url
