// # =================================================================
// # Comment Box
// # =================================================================

.commentBox {
  position: fixed;
  width: 66.66666667%;
	background-color: white;
	bottom: 0;
  height: 140px;
}