// # =================================================================
// # Side nav
// # =================================================================

// # Variables
// # =================================================================
$sideNavBg: $gray-blue-lighter;

// # General
// # =================================================================
.sideNav {
	background-color: $sideNavBg;
	height: 100%;
	position: fixed;
	display: block;
	top: 0;
  left: 0;
  bottom: 0;
  padding: 40px 30px;
  margin-top: 45px;
}

