// # =================================================================
// # Thread list
// # =================================================================

.threadList {
	h3 {
		font-size: 1rem;
	}

	p {
		color: $gray-medium;
		font-weight: 300;
		font-size: 90%;
	}
}
